#!/bin/bash


#### v1.0 2022-12-27 ####
# Do not change this. It will helpmnyou catch up with latest changes :)
export ENVRC_VERSION="1.2"

# Change to your CtA or Code repo :)
export CODE_URL="http://github.com/palladius/gcp-cache"
export APP_NAME="🌩 GCP Cache (dist)"
export APP_DESCRIPTION="A lightning-fast cache for your GCP Orgs, Folders, Projects and GCP entities"
export ORG_FOLDER_PROJECTS_GRAPH_DIR="./db/fixtures/org-folder-projects-graph/projects/"
# If you installed and ran this amazing script Riccardo has created, just update the folder: https://github.com/palladius/org-folder-projects-graph
export ORG_FOLDER_PROJECTS_GRAPH_EXTERNAL_FOLDER="~/path/to/org-folder-projects-graph-deleteme/"

export PROJECT_ICON='🍕'
export FOLDER_ICON='📂'
export ORG_ICON='🗂'

# Set this to make the BQ query work for you :) and get all Projects and stuff from your BQ export (see README.)
export ASSET_INVENTORY_TABLES='my-project.my-dataset.my_tables_'
export ORGANIZATION_ID="1234567890"
# A project where to use gcloud to extract ALL assets you're interested to.
# When it works, will move to  the iteration :) IO need numerical part for immediate use
# of Asset aPI.
export PROJECT_NUMBER="123456789012"
export INTERESTING_PROJECT_NUMBERS="123456789012,1234567890123,12345678901234"

#### v1.1 2022-12-29 ####
# See https://guides.rubyonrails.org/v5.1/configuring.html
# Change to MySQL or PostgreS - note that Gemfile is ONLY configured for SQLITE and POSTGRES
export DATABASE_URL_DEVELOPMENT="sqlite3:db/development.sqlite3"  # 🪶🛢 SQLite for DEV
export DATABASE_URL_PRODUCTION="sqlite3:db/production.sqlite3"  # 🪶🛢 SQLite
#export DATABASE_URL="sqlite3:db/production.sqlite3" # 🐬🛢 MySQL
#export DATABASE_URL="sqlite3:db/production.sqlite3" # 🐘🛢 PostgreS


#### v1.2 2023-04-13 ####
export PROJECT_ID="the-same-as-above-but-in-string"
