#!/bin/bash


#### v1.0 2022-12-27 ####
# Do not change this. It will helpmnyou catch up with latest changes :)
export ENVRC_VERSION="1.0"

# Change to your CtA or Code repo :)
export CODE_URL="http://github.com/palladius/gcp-cache"
export APP_NAME="🌩 GCP Cache (dist)"
export APP_DESCRIPTION="A lightning-fast cache for your GCP Orgs, Folders, Projects and GCP entities"
export ORG_FOLDER_PROJECTS_GRAPH_DIR="./db/fixtures/org-folder-projects-graph/projects/"

export PROJECT_ICON='🍕'
export FOLDER_ICON='📂'
export ORG_ICON='🗂'
#### v1.1 2022-12-XX ####

