<!-- This addon is creted in case I overwrite the index.html again :) 

There's another theory which states that this has already happened 😉
-->
<h1>Folder addon (  <%= @folder.to_s(false) %>)</h1>



<h2>Parent</h2>

  
<% if @folder.parent %>
  <p>Parent not found, probably an Org</p>
 <% else %>
 <%= render_folder( @folder.parent) if @folder.parent %>
<% end %>

<h2>Children</h2>

<% @folder.children.each do |f| %>
  <%= render_folder f %><br/>
<% end %>
