<h1>Editing billing account</h1>

<%= render "form", billing_account: @billing_account %>

<br>

<div>
  <%= link_to "Show this billing account", @billing_account %> |
  <%= link_to "Back to billing accounts", billing_accounts_path %>
</div>
