[
  {
    "creationTime": "2020-12-16T11:50:12.519Z",
    "displayName": "example.com",
    "lifecycleState": "ACTIVE",
    "name": "organizations/1234567890",
    "owner": {
      "directoryCustomerId": "A01a23bcd"
    }
  }
]
