[
  {
    "creationTime": "2020-12-16T11:50:12.519Z",
    "displayName": "palladius.it",
    "lifecycleState": "ACTIVE",
    "name": "organizations/44433984155",
    "owner": {
      "directoryCustomerId": "C02w19ipr"
    }
  }
]
