[
  {
    "createTime": "2016-12-12T18:01:16.489Z",
    "labels": {
      "bug-id": "b33443920",
      "global-colore": "giallo",
      "notes": "this-is-the-central-orgnode-project",
      "prova": "prova12345",
      "type": "orgnode-and-stuff"
    },
    "lifecycleState": "ACTIVE",
    "name": "OrgNode Project for Example Com",
    "parent": {
      "id": "1234567890",
      "type": "organization"
    },
    "projectId": "orgnode-example-com",
    "projectNumber": "7043210987654"
  }
]
